<section id="configuration-slide" class="slide configuration-slide">

  <div class="configuration-slide__inner base">

    <div class="configuration-slide__info">
      <strong>{{ 'sections.configuration.title' | t }}</strong>
      <p>{{ 'sections.configuration.caption' | t }}</p>
      <button>
        <a href="https://ci.vexor.io" class="blue abs-block">
          {{ 'sections.configuration.btn-text' | t }}
        </a>
      </button>
    </div>

    <div class="configuration-slide__calculator">
      <div class="configuration-slide__calculator__commits">
        {{ 'sections.configuration.calculator.commits' | t }}
        <strong>
          <span id="configuration-commits-count">10</span>
        </strong>
        <div id="configuration-commits"></div>
      </div>

      <div class="configuration-slide__calculator__build-duration">
        {{ 'sections.configuration.calculator.build_duration' | t }}
        <strong>
          <span id="configuration-duration-value">10</span>
          {{ 'time.minutes' | t }}
        </strong>
        <div id="configuration-duration"></div>
      </div>

      <div class="configuration-slide__calculator__cost-per">
        {{ 'sections.configuration.calculator.cost_per' | t }}
      </div>

      <div class="configuration-slide__calculator__total-cost">
        <strong>
          {{ 'currency.sign' | t }}
          <span id="configuration-cost">1.00</span>
        </strong>
      </div>
    </div>

  </div>

</section>
