<section class="slide customers-slide">

  <div class="customers-slide__inner">

    <div class="customers-slide__inner-wrap base">

      <strong>{{ 'sections.customers.title' | t }}</strong>

      <div id="reviews" class="customers-slide__reviews">

        <div class="customers-slide__reviews__item" data-review="bookmate">
          <div class="customers-slide__reviews__item__inner">
            <div>{{ 'sections.customers.reviews.bookmate.person' | t }}</div>
            <p>{{ 'sections.customers.reviews.bookmate.text' | t }}</p>
          </div>
        </div>

        <div class="customers-slide__reviews__item" data-review="uptopromo">
          <div class="customers-slide__reviews__item__inner">
            <div>{{ 'sections.customers.reviews.uptopromo.person' | t }}</div>
            <p>{{ 'sections.customers.reviews.uptopromo.text' | t }}</p>
          </div>
        </div>

        <div class="customers-slide__reviews__item" data-review="scalex">
          <div class="customers-slide__reviews__item__inner">
            <div>{{ 'sections.customers.reviews.scalex.person' | t }}</div>
            <p>{{ 'sections.customers.reviews.scalex.text' | t }}</p>
          </div>
        </div>

        <div class="customers-slide__reviews__item" data-review="railsmob">
          <div class="customers-slide__reviews__item__inner">
            <div>{{ 'sections.customers.reviews.railsmob.person' | t }}</div>
            <p>{{ 'sections.customers.reviews.railsmob.text' | t }}</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="customers-slide__logos">
    <div class="base">
      <a href="#" data-image="bookmate"></a>
      <a href="#" data-image="meduza"></a>
      <a href="#" data-image="insales"></a>
      <a href="#" data-image="uptopromo"></a>
      <a href="#" data-image="brandymint"></a>
      <a href="#" data-image="castle"></a>
    </div>
  </div>

</section>
