<section id="features-slide" class="slide features-slide">

  <div class="features-slide__inner base">

    <div id="features-info" class="features-slide__info">
      <div class="features-slide__info__item" data-item="fae">
        <strong>{{ 'sections.features.fast_and_easy.title' | t }}</strong>
        <p>{{ 'sections.features.fast_and_easy.caption' | t }}</p>
        <button>
          <a href="https://ci.vexor.io" class="blue abs-block">
            {{ 'sections.features.fast_and_easy.btn-text' | t }}
          </a>
        </button>
        <div class="screenshot desktop-down"></div>
      </div>

      <div class="features-slide__info__item" data-item="asm_asn">
        <strong>{{ 'sections.features.asm_asn.title' | t }}</strong>
        <p>{{ 'sections.features.asm_asn.caption' | t }}</p>
        <div class="screenshot desktop-down"></div>
      </div>
    </div>

    <div id="features-screenshots" class="features-slide__screenshots mobile-tablet-down">
      <div class="features-slide__screenshots__item" data-item="fae"></div>
      <div class="features-slide__screenshots__item" data-item="asm_asn"></div>
    </div>

  </div>

</section>
