<section id="first-slide" class="slide first-slide">

  <div class="first-slide__inner base">

    <figure class="gif"></figure>

    <div class="first-slide__scrollable">

      <div class="first-slide__page-title">
        {{ page.title }}
      </div>

      <h1>
        {{ 'sections.first.title' | t }}

        <span>{{ 'sections.first.subtitle' | t }}</span>
      </h1>

      <div class="first-slide__get-started">
        {{ 'get_started.caption' | t }}
        <ul>
          <li>
            <a href="#" class="underlined white">{{ 'get_started.github' | t }}</a>
          </li>

          <li>
            <a href="#" class="underlined white">{{ 'get_started.bitbucket' | t }}</a>
          </li>

          <li>
            <a href="#" class="underlined white">{{ 'get_started.gitlab' | t }}</a>
          </li>
        </ul>

        <button class="mobile">{{ 'get_started.mobile' | t }}</button>
      </div>

      <div class="first-slide__more">
        <a href="#" class="white">{{ 'sections.first.more' | t }}</a>
      </div>

    </div>

  </div>

  <div class="first-slide__menu mobile">
    <ul>
      <li>
        <a href="#" class="underlined white">{{ 'nav.documentation' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white">{{ 'nav.blog' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.terms' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.security' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.privacy' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.contacts' | t }}</a>
      </li>
    </ul>
  </div>

  <button class="first-slide__sign-up mobile">{{ 'nav.sign_up' | t }}</button>

</section>
