<section id="first-slide" class="slide first-slide">

  <div class="first-slide__inner base">

    <figure class="gif"></figure>

    <div class="first-slide__scrollable">

      <div class="first-slide__page-title">
        {{ page.title }}
      </div>

      <h1>
        {{ 'sections.first.title' | t }}
        <br>
        <span class="subtitle">{{ 'sections.first.subtitle' | t }}</span>
      </h1>

      <div class="first-slide__get-started">
        {{ 'get_started.caption' | t }}
        <ul>
          <li>
            <a href="https://ci.vexor.io/users/github?do=sign_up" class="underlined white" data-action="sign-up">
              {{ 'get_started.github' | t }}
            </a>
          </li>

          <li>
            <a href="https://ci.vexor.io/users/bitbucket?do=sign_up" class="underlined white" data-action="sign-up">
              {{ 'get_started.bitbucket' | t }}
            </a>
          </li>

          <li>
            <a href="https://ci.vexor.io/users/gitlab?do=sign_up" class="underlined white" data-action="sign-up">
              {{ 'get_started.gitlab' | t }}
            </a>
          </li>
        </ul>

        <button class="tablet-down desktop-down">
          <a href="https://ci.vexor.io/users/companies/new" data-action="sign-up">
            {{ 'get_started.mobile' | t }}
          </a>
        </button>
      </div>

      <div class="first-slide__more">
        <a href="#" class="white">{{ 'sections.first.more' | t }}</a>
      </div>

    </div>

  </div>

</section>
