<section class="slide last-slide">

  <div class="last-slide__inner base">

    <h2>
      {{ 'sections.last.title' | t }}

      <span>{{ 'sections.last.subtitle' | t }}</span>
    </h2>

    <div class="last-slide__sign-up">
      <button class="bordered github">{{ 'get_started.github' | t }}</button>
      <button class="bordered bitbucket">{{ 'get_started.bitbucket' | t }}</button>
      <button class="bordered gitlab">{{ 'get_started.gitlab' | t }}</button>
    </div>

  </div>

</section>
