<section id="last-slide" class="slide last-slide">

  <div class="last-slide__inner base">

    <figure class="gif gif--turned"></figure>

    <h2>
      {{ 'sections.last.title' | t }}

      <span>{{ 'sections.last.subtitle' | t }}</span>
    </h2>

    <div class="last-slide__sign-up">
      <button class="bordered github">
        <a href="https://ci.vexor.io/users/github?do=sign_up" class="blue abs-block" data-action="sign-up">
          {{ 'get_started.github' | t }}
        </a>
      </button>

      <button class="bordered bitbucket">
        <a href="https://ci.vexor.io/users/bitbucket?do=sign_up" class="blue abs-block" data-action="sign-up">
          {{ 'get_started.bitbucket' | t }}
        </a>
      </button>

      <button class="bordered gitlab">
        <a href="https://ci.vexor.io/users/gitlab?do=sign_up" class="blue abs-block" data-action="sign-up">
          {{ 'get_started.gitlab' | t }}
        </a>
      </button>
    </div>

  </div>

</section>
