.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height-md;
  z-index: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__inner {
    position: relative;
    height: 100%;
    padding-top: 43px;
  }

  &__copyright, &__powered, &__menu, &__payment {
    display: inline-block;
    vertical-align: middle;
  }

  &__copyright, &__powered, &__menu {
    left: 240px;
  }

  &__copyright, &__powered {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.4px;
  }

  &__menu {
    margin-left: 42px;
    @include clearfix;

    li {
      float: left;
      margin-right: 24px;
      line-height: 1.25;

      a {
        font-size: 16px;
        line-height: 1.25;
      }

      &:last-of-type { margin-right: 0; }
    }
  }

  &__copyright {}

  &__powered {
    margin-left: 40px;
    line-height: 1.25;

    a {
      margin-left: 3px;
      text-transform: lowercase;
      font-size: 16px;
      line-height: 1;
      @include opacity(100);
    }
  }

  &__payment {
    margin-left: 35px;

    span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;

      img { display: block; }

      &.gray-logo {

        &:first-of-type { margin-left: 0; }

        &:nth-of-type(2), &:nth-of-type(4) {
          @extend .hidden;
        }
      }

      &.blue-logo { @extend .hidden; }
    }
  }

  &.inversed {
    border-top: 1px solid rgba($blue-pigment, 0.1);

    .footer__copyright, .footer__powered {
      color: rgba($blue-pigment, 0.6);
    }

    .footer__powered a, .footer__menu li a {
      @extend .blue;
    }

    .footer__payment {

      span {

        &.blue-logo {
          @extend .visible;
          display: inline-block;

          &:nth-of-type(6) { margin-left: 0; }

          &:nth-of-type(7), &:nth-of-type(9) {
            @extend .hidden;
          }
        }

        &.gray-logo { @extend .hidden; }
      }
    }
  }

  @include mobile {
    position: absolute;
    bottom: 0;
    height: $footer-height-mb;
    padding: 35px 0;
    @include transform(translateX(0));
    @include transition(transform 0.5s ease);

    &__inner { padding-top: 55px; }

    &__copyright, &__powered {
      position: static;
    }

    &__menu, &__payment {
      @include absolute(auto, 0, auto, 0);
      margin: 0;
    }

    &__menu {
      top: 0;

      li {
        width: 25%;
        margin-right: 0;

        &:nth-of-type(3) { text-align: center; }

        &:last-of-type { text-align: right; }
      }
    }

    &__payment {
      bottom: 0;
      text-align: center;

      span {
        width: 17%;
        margin-left: 5%;

        img { margin: 0 auto; }

        &:first-of-type img { float: left; }

        &:last-of-type img { float: right; }
      }
    }

    &__powered { margin: 0; }

    &.inversed {

      .footer__payment span {
        width: 16%;
      }
    }

    &.translated {
      @include transform(translateX(-100%));
    }
  }

  @include tablet {
    height: $footer-height-tb;

    &__inner { padding-top: 0; }

    &__copyright, &__powered, &__menu, &__payment {
      position: absolute;
      margin-left: 0;
    }

    &__menu {
      top: 36px;
      left: 0;
      width: 100%;

      li {
        width: 25%;
        margin-right: 0;

        &:first-of-type { padding-right: 40px; }

        &:nth-of-type(2), &:nth-of-type(3) {
          padding: 0 20px;
        }

        &:nth-of-type(3) {
          text-align: center;
        }

        &:last-of-type {
          text-align: right;
          padding-left: 40px;
        }
      }
    }

    &__copyright {
      bottom: 45px;
      left: 0;
    }

    &__powered {
      left: 0;
      bottom: 25px;
    }

    &__payment {
      right: 0;
      bottom: 30px;
    }
  }

  @include medium-width-media {

    &__payment { margin-left: 75px; }

    &__menu {
      margin-left: 120px;

      li { margin-right: 50px; }
    }

    &__powered { margin-left: 84px; }

  }

  @include large-width-media {

    &__payment { margin-left: 185px; }

    &__menu {
      margin-left: 190px;

      li { margin-right: 50px; }
    }

    &__powered { margin-left: 263px; }

  }

  @include large-desktops-media {

    &__copyright, &__powered {
      font-size: 22px;
    }

    &__payment {
      margin-left: 85px;

      span {
        @include transform(scale(1.5));
        margin-left: 50px;
      }
    }

    &__menu {
      margin-left: 85px;

      li {
        margin-right: 55px;

        a { font-size: 24px; }
      }
    }

    &__powered {
      margin-left: 79px;

      a { font-size: 24px; }
    }
  }
}
