.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height-sm;
  z-index: 3;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__inner {
    position: relative;
    height: 100%;
  }

  &__copyright, &__powered, &__menu, &__payment {
    position: absolute;
  }

  &__copyright, &__powered, &__menu {
    left: 240px;
  }

  &__copyright, &__powered {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.4px;
  }

  &__menu {
    top: 27px;
    @include clearfix;

    li {
      float: left;
      margin-right: 20px;
      line-height: 1.25;

      a {
        font-size: 16px;
        line-height: 1.25;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__copyright {
    bottom: 49px;
  }

  &__powered {
    bottom: 27px;
    line-height: 1.25;

    a {
      margin-left: 3px;
      text-transform: lowercase;
      font-size: 16px;
      line-height: 1;
      @include opacity(100);
    }
  }

  &__payment {
    bottom: 35px;
    right: 0;

    span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;

      img { display: block; }

      &.x2 { display: none; }

      &.blue-logo { @extend .hidden; }

      &:first-of-type { margin-left: 0; }
    }
  }

  &.inversed {
    border-top: 1px solid rgba($blue-pigment, 0.1);

    .footer__copyright, .footer__powered {
      color: rgba($blue-pigment, 0.6);
    }

    .footer__powered a, .footer__menu li a {
      @extend .blue;
    }

    .footer__payment span {

      &.gray-logo { @extend .hidden; }

      &.blue-logo { @extend .visible; }
    }
  }

  @include mobile {
    position: absolute;
    bottom: 0;
    height: px_to_vh(240, $mobile-height);
    padding: px_to_vh(35, $mobile-height) 0;

    &__inner {
      padding-top: px_to_vh(65, $mobile-height);
    }

    &__copyright, &__powered {
      position: static;
    }

    &__menu, &__payment {
      left: 0;
      right: 0;
    }

    &__menu {
      top: 0;

      li {
        width: 25%;
        margin-right: 0;

        &:nth-of-type(3) { text-align: center; }

        &:last-of-type { text-align: right; }
      }
    }

    &__payment {
      bottom: 0;

      span {
        width: 17%;
        margin-left: 2%;

        img { margin: 0 auto; }

        &:first-of-type img { float: left; }

        &:last-of-type img { float: right; }
      }
    }
  }

  @include tablet {
    height: $footer-height-tb;

    &__copyright, &__powered, &__menu {
      left: 0;
    }

    &__menu {
      top: 35px;
      width: 100%;

      li {
        width: 25%;
        margin-right: 0;

        &:first-of-type {
          padding-right: 40px;
        }

        &:nth-of-type(2), &:nth-of-type(3) {
          padding: 0 20px;
        }

        &:nth-of-type(3) {
          text-align: center;
        }

        &:last-of-type {
          text-align: right;
          padding-left: 40px;
        }
      }
    }

    &__copyright { bottom: 45px; }

    &__powered { bottom: 25px; }

    &__payment { bottom: 30px; }
  }

  @include medium-width-media {
    height: $footer-height-md;

    &__inner { padding-top: 43px; }

    &__copyright, &__powered, &__menu, &__payment {
      position: static;
      display: inline-block;
      vertical-align: middle;
    }

    &__menu { margin: 0 120px 0 65px; }

    &__powered { margin-left: 40px; }

    &.inversed {

      .footer__menu { margin: 0 114px 0 64px; }
    }
  }

  @include large-desktops-media {
    height: $footer-height-lg;

    &__inner { padding-top: 62px; }

    &__copyright, &__powered, &__menu, &__payment {
      position: static;
      display: inline-block;
      vertical-align: middle;
    }

    &__copyright, &__powered {
      font-size: 22px;
    }

    &__menu {
      margin: 0 100px;

      li a { font-size: 24px; }
    }

    &__powered {
      margin-left: 60px;

      a { font-size: 24px; }
    }

    &__payment {

      span {

        &.x1 { display: none; }

        &.x2 { display: inherit; }
      }
    }
  }
}
