.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  &__inner {
    height: 100px;
    padding-top: 40px;

    svg {
      float: left;
      height: 30px;

      path {
        fill: $blue-pigment;
        @include transition(fill 0.3s ease);
      }

      &.white {
        path { fill: white; }
      }
    }

    nav {
      float: right;

      a {
        display: inline-block;
        font-size: 20px;
        line-height: 1.0;
        margin-left: 100px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    @include medium-width-media {
      nav a {
        margin-left: 160px;
      }
    }

    @include large-width-media {
      nav a {
        margin-left: 250px;
      }
    }
  }
}
