.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  &__inner {
    height: 110px;
    padding-top: 50px;

    .link-with-logo {
      float: left;


      svg {
        position: relative;
        @include size(155px 30px);
        @include transition(all 0.3s ease);

        path, rect, polygon {
          fill: $blue-pigment;
          @include transition(fill 0.3s ease);
        }

        &.smaller {
          top: 4px;
          @include size(103px 20px);
        }

        &.white {
          path, rect, polygon { fill: white; }
        }

        &.separate-white {
          path, rect, polygon { fill: white; }
        }

        &#menu-close { display: none; }

        &#doc-nav-open {

          &.active {
            background-color: $blue-pigment;

            rect, polygon { fill: white; }
          }
        }
      }
    }

    nav {
      float: right;

      a {
        display: inline-block;
        font-size: px_to_em(20);
        line-height: 1.0;
        margin-left: 100px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  &.white-bg {
    background-color: rgba(white, 0.9);
  }

  &.without-bg {
    background-color: transparent;
  }

  @include mobile {
    background-color: rgba($blue-pigment, 0.9);

    &__inner {
      height: px_to_vh(60, $mobile-height);
      padding-top: px_to_vh(20, $mobile-height);

      svg {
        height: px_to_vh(20, $mobile-height);

        &.toggler {
          float: right;
          margin-left: px_to_vw(40, $mobile-width);
        }

        &#doc-nav-open {
          position: relative;
          top: px_to_vh(-5, $mobile-height);
          height: px_to_vh(30, $mobile-height);
          padding: px_to_vh(5, $mobile-height);
        }
      }
    }
  }

  @include tablet {
    &__inner {

      svg { height: 20px; }

      nav {
        position: relative;
        top: -5px;

        a { margin-left: 40px; }
      }
    }
  }

  @include medium-width-media {
    nav a {
      margin-left: 156px;
    }
  }

  @include large-desktops-media {
    nav {
      top: 0;

      a {
        margin-left: 250px;
        font-size: 24px;
      }
    }
  }
}
