.mobile-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  @include transform(translateX(100%));
  @include transition(transform $menu-show-duration ease, visibility $menu-show-duration step-end);
  display: none;

  @include mobile {
    display: block;
  }

  $shades-height: 12.5vh;

  &__inner {
    position: relative;
    top: 5%;
    height: 90%;

    > ul {
      position: absolute;
      top: px_to_vh(80, $mobile-height);
      right: 0;

      > li {
        margin-bottom: px_to_vh(30, $mobile-height);
        text-align: right;

        > a {
          font-size: 25px;
        }
      }
    }

    > .button {
      @include absolute(false, 0, 0, 0);
      width: 100%;
    }

    &.scrollable {
      top: 0;
      height: 100%;
      width: 100%;
      padding: $shades-height (100vw - 87.5vw) / 2;
      @include scrollable();
      > ul {
        position: static;

        > li {
          text-align: left;

          > a {
            font-size: 30px;
          }
        }
      }

      > .button {
        margin-top: 45px;
        position: relative;
      }
    }
  }

  &.with-shades {
    @include both {
      z-index: 1;
      @include absolute(false, 0, false, 0);
      height: $shades-height;
    }

    &::before {
      top: 0;
      @include linear-gradient(
          to bottom,
          $blue-pigment 0%,
          $blue-pigment 33%,
          rgba($blue-pigment, 0.7) 67%,
          rgba($blue-pigment, 0.0) 100%,
        $fallback: transparent
      );
    }

    &::after {
      bottom: 0;
      @include linear-gradient(
          to top,
          $blue-pigment 0%,
          $blue-pigment 33%,
          rgba($blue-pigment, 0.7) 67%,
          rgba($blue-pigment, 0.0) 100%,
        $fallback: transparent
      );
    }
  }

  body.alternate & {
    background: $blue-pigment;
  }

  body.menu-show & {
    visibility: visible;
    @include transform(translateX($menu-show-shift));
    @include transition(transform $menu-show-duration ease, visibility $menu-show-duration step-start);
  }
}
