.sidebar {

  &__nav {

    li {
      padding-bottom: 20px;
      font: bold normal normal px_to_em(20) $font-family-vexor;
      line-height: 1.25;
      letter-spacing: 0.5px;

      & > a {
        color: $blue-pigment;
        margin-right: 5px;

        .mobile-menu & {
          color: #fff;
        }

        &.active {
          color: $aquamarine;
        }
      }
    }

    &__title {
      &::after {
        display: inline-block;
        content: '↓';
        color: $crayola-blue-bell;
        @include transition(transform 200ms ease);
      }

      &.toggled {

        &::after {
          @include transform(rotate(-180deg));
        }
      }

      &.untoggle {

        &::after {
          content: '';
        }
      }
    }

    &__links {
      display: none;

      ul {
        list-style: none;
        padding-left: 20px;

        li {
          font-weight: normal;
          letter-spacing: normal;
        }
      }
    }
  }
}
