.slides {
  @include size(100%);
}

.slide {
  position: relative;
  @include size(100%);
  overflow: hidden;
  @include clearTransform3d;

  @include mobile {
    padding-top: 60px;
  }
}

.first-slide__inner, .last-slide__inner {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 140px;
    right: 0;
    width: 440px;
    height: 528px;
    background-image: asset_url('interface/slides/3-d.gif');
    background-repeat: no-repeat;
    background-position: left top;

    @include mobile {
      top: px_to_vw(-35, 320);
      right: px_to_vw(-240, 320);
      width: px_to_vw(440, 320);
      height: px_to_vw(528, 320);
    }

    @include medium-width-media {
      width: 564px;
      height: 688px;
    }

    @include large-height-media {
      width: 740px;
      height: 887px;
    }
  }
}

@import "slides/first";
@import "slides/features";
@import "slides/configuration";
@import "slides/customers";
@import "slides/last";

