<footer class="footer">

  <div class="footer__inner base">

    <div class="footer__copyright">
      {{ 'footer.copyright' | t }}
    </div>

    <ul class="footer__menu">
      <li>
        <a href="#" class="underlined white">{{ 'second_nav.terms' | t }}</a>
      </li>

      <li>
        <a href="#" class="underlined white">{{ 'second_nav.security' | t }}</a>
      </li>

      <li>
        <a href="#" class="underlined white">{{ 'second_nav.privacy' | t }}</a>
      </li>

      <li>
        <a href="#" class="underlined white">{{ 'second_nav.contacts' | t }}</a>
      </li>
    </ul>

    <div class="footer__payment">
      <span class="gray-logo">{% image 'interface/footer/visa.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/verifiedby_visa.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/mastercard.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/mastercard_secure.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/cloud_payments.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/visa_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/verifiedby_visa_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/mastercard_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/mastercard_secure_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/cloud_payments_blue.png' %}</span>
    </div>

    <div class="footer__powered">
      {{ 'footer.powered_by' | t }}
    </div>

  </div>

</footer>
