<footer class="footer">

  <div class="footer__inner base">

    <div class="footer__copyright">
      {{ 'footer.copyright' | t }}
    </div>

    <ul class="footer__menu">
      <li>
        <a href="{{ 'second_nav.terms.link' | t }}" class="underlined white {% if page.slug == 'terms' %}current{% endif %}">
          {{ 'second_nav.terms.caption' | t }}
        </a>
      </li>

      <li>
        <a href="{{ 'second_nav.security.link' | t }}" class="underlined white {% if page.slug == 'security' %}current{% endif %}">
          {{ 'second_nav.security.caption' | t }}
        </a>
      </li>

      <li>
        <a href="{{ 'second_nav.privacy.link' | t }}" class="underlined white {% if page.slug == 'privacy' %}current{% endif %}">
          {{ 'second_nav.privacy.caption' | t }}
        </a>
      </li>

      <li>
        <a href="{{ 'second_nav.contacts.link' | t }}" class="underlined white">
          {{ 'second_nav.contacts.caption' | t }}
        </a>
      </li>
    </ul>

    <div class="footer__payment">
      <span class="gray-logo">{% image 'interface/footer/visa.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/verifiedby_visa.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/mastercard.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/mastercard_secure.png' %}</span>
      <span class="gray-logo">{% image 'interface/footer/cloud_payments.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/visa_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/verifiedby_visa_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/mastercard_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/mastercard_secure_blue.png' %}</span>
      <span class="blue-logo">{% image 'interface/footer/cloud_payments_blue.png' %}</span>
    </div>

    <div class="footer__powered">
      {{ 'footer.powered_by' | t }}
    </div>

  </div>

</footer>
