<div id="mobile-menu" class="mobile-menu tablet-down desktop-down">
  <figure class="gif"></figure>
  <div class="mobile-menu__inner">
    <ul>
      <li>
        <a href="#" class="underlined white">{{ 'nav.documentation' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white">{{ 'nav.blog' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.terms' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.security' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.privacy' | t }}</a>
      </li>
      <li>
        <a href="#" class="underlined white smaller">{{ 'second_nav.contacts' | t }}</a>
      </li>
    </ul>

    <button class="mobile-menu__sign-up">{{ 'nav.sign_up' | t }}</button>
  </div>
</div>
