@import 'configuration/calculator';

.configuration-slide {
  background-color: white;

  &__info {
    @include mobile {
      position: static;
      height: 100%;
    }

    > strong {
      top: 40px;

      @include mobile {
        top: calc(30vh - 40vw);
      }

      @include large-desktops-media {
        top: 20px;
      }
    }

    > p {
      margin: 70px 0 30px 10px;

      @include mobile {
        @include absolute(calc(30vh - 40vw + 100px));
        font-size: 20px;
        line-height: 1.5;
        margin: 0;
      }

      @include large-desktops-media {
        margin-left: 12px;
        font-size: 33px;
      }

      @include large-width-media {
        width: 630px;
      }
    }

    > button {
      display: block;
      width: 200px;
      margin-left: 10px;

      @include mobile {
        @include absolute(false, 0, 0, 0);
        width: 100%;
        margin-left: 0;
      }
      @include tablet {
        width: 230px;
      }
      @include medium-width-media {
        width: 200px;
      }
      @include large-width-media {
        width: 280px;
      }
      @include large-desktops-media {
        @include size(350px 60px);
        margin-left: 12px;
      }
    }
  }
}
