.configuration-slide {
  background-color: white;

  &__calculator, &__info {
    @include abs-vert-cent-block(360px);
    width: 440px;
  }

  &__calculator {
    right: 0;
    line-height: 1.5;

    strong {
      position: relative;
      display: block;

      label {
        @include absolute(auto, auto, 0, 0);
        display: block;
        font-weight: normal;
        color: $blue-pigment;
      }

      input {
        display: block;
        width: 100%;
        height: 40px;
        font: 800 normal normal 36px Circe, Sans;
        text-align: center;
        color: $blue-pigment;
        @include appearance(text);
        border: 0;
      }
    }

    &__slider {
      position: relative;
      margin-bottom: 5px;
      padding-bottom: 11px;
      overflow: hidden;

      strong { margin: 15px 0 28px; }

      &:after {
        content: '∞';
        display: block;
        @include absolute(auto, 4px, 39px, auto);
        width: 15px;
        height: 20px;
        font-size: 20px;
        line-height: 0.5;
        color: rgba($blue-pigment, 0.2);
      }
    }

    &__period {
      margin-top: 30px;

      span {
        display: inline-block;
        vertical-align: baseline;
        color: $blue-pigment;
        border-bottom: dashed 1px $blue-pigment;
        line-height: 1.0;
        font-weight: 800;
        cursor: pointer;
        @include transition(all 0.3s ease);

        &:hover {
          color: $aquamarine;
          border-bottom-color: rgba(107, 219, 188, 0.4);
        }

        &.active {
          color: $aquamarine;
          border-bottom-color: transparent;
          cursor: default;
        }
      }
    }
  }

  &__info {
    left: 0;

    & > * { display: block; }

    strong {
      @include vector-title;
      font-size: 80px;
      font-weight: 800;
      line-height: 0.75;
      letter-spacing: -1px;

      svg {
        @include absolute(0, 0, 0, 0);
      }
    }

    p {
      margin: 70px 0 30px;
      font-size: 29px;
      line-height: 1.38;
      color: $blue-pigment;
    }

    button { width: 200px; }
  }

  @include mobile {
    padding: px_to_vh(80, $mobile-height) 0;

    &__info {
      position: static;
      height: auto;
      margin: 0;
      padding: 0;

      strong {
        margin-bottom: px_to_vh(20, $mobile-height);
        font-size: 50px;
        letter-spacing: -1px;
      }

      p {
        margin: 0;
        font-size: 20px;
        line-height: 1.5;
      }

      button {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }

    &__calculator {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin: px_to_vh(40, $mobile-height) 0 px_to_vh(110, $mobile-height);
    }
  }

  @include tablet {
    height: auto;
    padding: 120px 0;

    &__info, &__calculator {
      position: static;
      width: 320px;
      margin: 0;
    }

    &__info {
      float: right;

      p {
        font-size: 20px;
        line-height: 1.5;
      }

      button { width: 230px; }
    }

    &__calculator {
      float: left;
    }
  }

  @include medium-width-media {
    &__calculator, &__info {
      width: 560px;
    }

    &__calculator { }

    &__info {

      button { width: 200px; }
    }
  }

  @include large-desktops-media {
    &__calculator, &__info {
      @include abs-vert-cent-block(520px);
    }

    &__calculator {
      left: 150px;
      width: 480px;
      padding: 60px 40px;

      &__commits, &__build-duration, &__cost-per {
        font-size: 24px;
      }
    }

    &__info {
      width: 740px;
      padding-top: 50px;

      strong {
        font-size: 100px;
        line-height: 0.8;
      }

      p { margin-bottom: 60px; }

      button { @include size(350px 60px); }
    }
  }
}
