.customers-slide {
  @include linear-gradient(white 0%, white 50%, $blue-pigment 50%, $blue-pigment 100%);

  &__title {
    float: left;
    width: 50%;
    @include vector-title;
    top: calc(50% - 35px);
    @include transform(translateY(-100%));

    svg {
      @include absolute(0, auto, auto, 0);
    }
  }

  &__reviews {
    float: right;
    width: 50%;
    height: 428px;
    top: 50%;
    @include transform(translateY(-50%));

    &:before {
      content: '';
      display: block;
      width: 34px;
      height: 13px;
      @include absolute(50%, auto, auto, -17px);
      @include transform(translateY(-50%));
      background: asset_url('interface/slides/customers/corner.svg') no-repeat center center;
      background-size: cover;
    }

    &__item {
      width: 440px;
      height: 308px;

      & > p, & > div {
        height: 50%;
      }

      & > p {
        padding-bottom: 55px;
        color: $blue-pigment;
        font-size: 24px;
        line-height: 1.67;
      }

      & > div {
        padding-top: 55px;
        color: white;
        font-size: 19px;
        line-height: 1.05;

        span {
          display: block;
          margin-bottom: 15px;
          font-size: 30px;
          font-weight: bold;
          line-height: 1.0;
        }
      }
    }

    .slick-list {
      padding: 60px 0;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 40px;
        z-index: 1;
      }

      &:before {
        top: 0;
        background-color: rgba(white, 0.5);
      }

      &:after {
        bottom: 0;
        background-color: rgba($blue-pigment, 0.5);
      }
    }
  }

  &__logos {
    @include absolute(auto, 0, 50px, 0);
    height: $customers-height-sm-md;

    &__item {
      height: 23px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      cursor: pointer;

      &:hover {

      }

      &[data-image="bookmate"] {
        background-image: asset_url('interface/slides/customers/logos/bookmate.png');
      }

      &[data-image="meduza"] {
        background-image: asset_url('interface/slides/customers/logos/meduza.png');
      }

      &[data-image="insales"] {
        background-image: asset_url('interface/slides/customers/logos/insales.png');
      }

      &[data-image="uptopromo"] {
        background-image: asset_url('interface/slides/customers/logos/uptopromo.png');
      }

      &[data-image="brandymint"] {
        background-image: asset_url('interface/slides/customers/logos/brandymint.png');
      }

      &[data-image="castle"] {
        background-image: asset_url('interface/slides/customers/logos/castle.png');
      }
    }

    .slick-list {

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 100%;
        @include linear-gradient(to right, $blue-pigment 0%, rgba($blue-pigment, 0.75) 50%, rgba($blue-pigment, 0.5) 100%);
        z-index: 1;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
        @include transform(rotate(180deg));
      }
    }
  }

  @include mobile {

    &__inner {
      position: relative;
      height: auto;
      padding-top: 0;

      &-wrap {
        position: static;
        width: 100%;
        @include transform(none);

        & > strong {
          font-size: 20px;
          line-height: 2.0;
        }
      }
    }

    &__reviews {

      &__item {
        width: px_to_vw(420, $mobile-width);
        height: auto;
        margin: 0 px_to_vw(30, $mobile-width);
        padding-bottom: px_to_vh(50, $mobile-height);

        &__inner {
          @include size(100% auto);
          padding: px_to_vh(60, $mobile-height) px_to_vw(30, $mobile-width) px_to_vh(40, $mobile-height);
        }
      }
    }

    &__logos {
      height: px_to_vh(190, $mobile-height);
      padding: px_to_vh(45, $mobile-height) 0;

      a {
        width: px_to_vw(180, $mobile-width);
        height: px_to_vw(35, $mobile-width);
        margin: 0 0 px_to_vh(18, $mobile-height);

        &:nth-child(even) { float: right; }
      }
    }
  }

  @include tablet {
    height: auto;

    &__inner {
      height: auto;
      padding-bottom: 10px;

      &-wrap {
        position: static;
        width: 100%;
        @include transform(none);
      }
    }

    &__reviews {

      &__item {
        width: 100vw;
        height: 430px;

        &__inner {
          width: $tablet-width-grid;
        }
      }
    }

    &__logos {
      height: $customers-height-tb-lg;

      a {
        @include size(140px 26px);

        &[data-image="brandymint"], &[data-image="castle"] {
          margin-top: 20px;
        }

        &[data-image="brandymint"] {
          margin-left: 180px;
        }
      }
    }
  }

  @include medium-width-media {
    &__reviews__item {
      width: 560px;
    }
  }

  @include large-desktops-media {
    &__inner {
      height: calc(100vh - #{$customers-height-tb-lg});
      padding-top: 200px;
    }

    &__reviews {

      &__item {
        width: 670px;
        height: 500px;
        padding-top: 130px;

        &__inner {

          & > div { font-size: 20px; }

          p { font-size: 22px; }
        }
      }
    }

    &__logos {
      height: $customers-height-tb-lg;
      padding: 58px 0;

      a { @include size(220px 44px); }
    }
  }
}
