.customers-slide {
  @include linear-gradient(white 0%, white 50%, $blue-pigment 50%, $blue-pigment 100%);

  &__title {
    float: left;
    width: 50%;
    @include vector-title;
    top: calc(50% - 35px);
    @include transform(translateY(-100%));

    svg {
      @include absolute(0, auto, auto, 0);
    }
  }

  &__reviews {
    height: 428px;
    top: 50%;
    @include transform(translateY(-50%));

    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 30px;
      @include absolute(50%, auto, auto, -17px);
      @include transform(translateY(-50%));
      background: asset_url('interface/slides/customers/corner.svg') no-repeat center center;
      background-size: contain;
    }

    &__item {
      width: 440px;
      height: 308px;

      & > p, & > div {
        height: 50%;
      }

      & > p {
        color: $blue-pigment;
        font-size: 24px;
        line-height: 1.67;
      }

      & > div {
        padding-top: 55px;
        color: white;
        font-size: 19px;
        line-height: 1.05;

        span {
          display: block;
          margin-bottom: 15px;
          font-size: 30px;
          font-weight: bold;
          line-height: 1.0;
        }
      }
    }

    .slick-list {
      padding: 60px 0;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 40px;
        z-index: 1;
      }

      &:before {
        top: 0;
        @include linear-gradient(to bottom, white 0%, rgba(white, 0.8) 50%, rgba(white, 0.6) 100%);
      }

      &:after {
        bottom: 0;
        background-color: rgba($blue-pigment, 0.7);
        @include linear-gradient(to top, $blue-pigment 0%, rgba($blue-pigment, 0.8) 50%, rgba($blue-pigment, 0.6) 100%);
      }
    }
  }

  &__logos {
    @include absolute(auto, 0, 50px, 0);
    height: $customers-height-sm-md;
    z-index: 1;

    &__item {
      height: 35px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto;
      cursor: pointer;
      @include opacity(50);
      @include transition(all 0.2s linear);

      &:hover, &:active, &.slick-current {
        @include opacity(100);
      }

      &[data-image="bookmate"] {
        background-image: asset_url('interface/slides/customers/logos/bookmate--new.png');

        &.slick-current {
          background-image: asset_url('interface/slides/customers/logos/bookmate--active.png');
        }
      }

      &[data-image="meduza"] {
        background-image: asset_url('interface/slides/customers/logos/meduza--new.png');

        &.slick-current {
          background-image: asset_url('interface/slides/customers/logos/meduza--active.png');
        }
      }

      &[data-image="insales"] {
        background-image: asset_url('interface/slides/customers/logos/insales--new.png');

        &.slick-current {
          background-image: asset_url('interface/slides/customers/logos/insales--active.png');
        }
      }

      &[data-image="uptopromo"] {
        background-image: asset_url('interface/slides/customers/logos/uptopromo--new.png');

        &.slick-current {
          background-image: asset_url('interface/slides/customers/logos/uptopromo--active.png');
        }
      }

      &[data-image="brandymint"] {
        background-image: asset_url('interface/slides/customers/logos/brandymint--new.png');

        &.slick-current {
          background-image: asset_url('interface/slides/customers/logos/brandymint--active.png');
        }
      }

      &[data-image="castle"] {
        background-image: asset_url('interface/slides/customers/logos/castle--new.png');

        &.slick-current {
          background-image: asset_url('interface/slides/customers/logos/castle--active.png');
        }
      }
    }

    .slick-list {

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 100%;
        z-index: 1;
      }

      &:before {
        left: 0;
        @include linear-gradient(to right, $blue-pigment 0%, rgba($blue-pigment, 0.8) 50%, rgba($blue-pigment, 0.6) 100%);
      }

      &:after {
        right: 0;
        @include linear-gradient(to left, $blue-pigment 0%, rgba($blue-pigment, 0.8) 50%, rgba($blue-pigment, 0.6) 100%);
      }
    }
  }

  @include mobile {
    padding: px_to_vh(110, $mobile-height) 0 px_to_vh(30, $mobile-height);
    @include linear-gradient(white 0%, white 66%, $blue-pigment 66%, $blue-pigment 100%);

    &__inner {
      position: relative;
      height: auto;
      padding-top: 0;

      &-wrap {
        position: static;
        width: 100%;
        @include transform(none);

        & > strong {
          font-size: 20px;
          line-height: 2.0;
        }
      }
    }

    &__title {
      float: none;
      width: 100%;
      top: 0;
      @include transform(none);
      font-size: 54px;
    }

    &__reviews {
      height: auto;
      @include transform(none);

      &:before { top: 62%; }

      .slick-list {
        padding: px_to_vh(40, $mobile-height) 0;
      }

      &__item {
        height: px_to_vh(308, $mobile-height);

        & > p {
          height: px_to_vh(200, $mobile-height);
          padding: 0;
          font-size: 20px;
          line-height: 1.5;
        }

        & > div {
          height: px_to_vh(103, $mobile-height);
          padding-top: px_to_vh(40, $mobile-height);

          span {
            margin-bottom: px_to_vh(10, $mobile-height);
            font-size: 28px;
          }
        }
      }
    }

    &__logos {
      position: static;

      &__item {
        background-position: left center;
        background-size: 80% auto;
        @include transition(all 0.2s linear, background-position 0.1s linear);

        &.slick-current + .slick-active {
          background-position: right center;
        }

        &[data-image="brandymint"] {
          background-size: 72% auto;
        }

        &[data-image="meduza"] {
          background-size: 66% auto;
        }

        &[data-image="insales"] {
          background-size: 55% auto;
        }
      }

      .slick-list {

        &:before, &:after {
          width: px_to_vw(40, $mobile-width);
        }

        &:before {
          left: px_to_vw(-40, $mobile-width);
        }

        &:after {
          right: px_to_vw(-40, $mobile-width);
        }
      }
    }
  }

  @include tablet {
    height: auto;

    &__inner {
      height: auto;
      padding-bottom: 10px;

      &-wrap {
        position: static;
        width: 100%;
        @include transform(none);
      }
    }

    &__reviews {

      &__item {
        width: 100vw;
        height: 430px;

        &__inner {
          width: $tablet-width-grid;
        }
      }
    }

    &__logos {
      height: $customers-height-tb-lg;

      a {
        @include size(140px 26px);

        &[data-image="brandymint"], &[data-image="castle"] {
          margin-top: 20px;
        }

        &[data-image="brandymint"] {
          margin-left: 180px;
        }
      }
    }
  }

  @include medium-width-media {

    &__reviews__item {
      width: 560px;
    }

  }

  @include large-desktops-media {
    &__inner {
      height: calc(100vh - #{$customers-height-tb-lg});
      padding-top: 200px;
    }

    &__reviews {

      &__item {
        width: 670px;
        height: 500px;
        padding-top: 130px;

        &__inner {

          & > div { font-size: 20px; }

          p { font-size: 22px; }
        }
      }
    }

    &__logos {
      height: $customers-height-tb-lg;
      padding: 58px 0;

      a { @include size(220px 44px); }
    }
  }
}
