.features-slide {
  height: auto;
  background-color: white;

  &__inner {
    position: relative;
  }

  &__info, &__screenshots {
    top: 0;
    position: relative;
    width: 50%;

    &__item {
      width: 440px;
    }
  }

  &__info {
    float: left;

    &__item {
      height: 100vh;
      padding: 30vh 0 28vh;

      strong {
        margin-top: 8px;
        color: $blue-pigment;
        font-size: 80px;
        font-weight: 800;
        line-height: 0.75;
        letter-spacing: -1px;
      }

      p {
        margin: 35px 0 40px;
        font-size: 30px;
        line-height: 1.33;
      }

      button { width: 160px; }
    }
  }

  &__screenshots {
    right: 0;
    float: right;
    height: 100vh;

    &__item {
      @include abs-vert-cent-block(330px);
      left: 20px;
      width: 440px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      //@include box-shadow(0 40px 80px 10px rgba(51, 51, 153, 0.1));

      video {
        display: block;
        width: 100%;
        @include absolute(50%, 0, 0, 50%);
        @include transform(translate(-50%, -50%));
        z-index: 1;
      }

      &:before {
        content: '';
        display: block;
        @include absolute(-1px, -1px, -1px, -1px);
        z-index: 2;
        background: rgba(white, 0.5) asset_url('interface/slides/features/play-button.svg') no-repeat center center;
        background-size: px_to_vw(40) px_to_vw(40);
        @include opacity(100);
        transition: opacity 0.3s ease;
      }

      &.playing {

        &:before { @include opacity(0); }
      }

      &[data-item="fae"] {
        background-image: asset_url('pictures/features/fast_and_easy.png');
        z-index: 2;
      }

      &[data-item="asm_asn"] {
        background-image: asset_url('pictures/features/asm_asn.png');
        z-index: 1;
      }
    }

    &.bottomed {
      top: 100vh;
      right: 0;

      .features-slide__screenshots__item[data-item="fae"] { z-index: 1; }

      .features-slide__screenshots__item[data-item="asm_asn"] { z-index: 2; }
    }

    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
    }

    &.blink {
      @include animation(blink 0.9s ease); // Don't forget synchronize animations' duration in featuresSlideAnimations.js if had changed duration here
    }
  }

  @include mobile {
    padding: px_to_vh(90, $mobile-height) 0 px_to_vh(90, $mobile-height);

    &__info {
      position: static;
      width: 100%;
      height: auto;
      margin-top: 0;

      strong {
        font-size: 50px;
        line-height: 0.8;
      }

      p {
        margin: px_to_vh(10, $mobile-height) 0 px_to_vh(20, $mobile-height);
        font-size: 20px;
        line-height: 1.5;
      }

      button {
        position: absolute;
        width: 100%;
        bottom: 0;
      }

      &__item {
        width: 100%;
        height: auto;
        padding: 0;

        .screenshot {
          width: 100%;
          height: px_to_vh(367, $mobile-height);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          @include box-shadow(0 40px 80px 15px rgba(51, 51, 153, 0.1));
        }

        &[data-item="fae"] {
          margin-bottom: px_to_vh(40, $mobile-height);

          .screenshot {
            background-image: asset_url('pictures/features/fast_and_easy_mobile.png');
          }
        }

        &[data-item="asm_asn"] {
          margin-bottom: px_to_vh(40, $mobile-height);

          .screenshot {
            background-image: asset_url('pictures/features/asm_asn_mobile.png');
          }
        }
      }
    }

    &__screenshots {
      float: left;
      width: 100%;
      height: auto;
      padding-bottom: px_to_vh(120px);

      &__item {
        position: relative;
        width: 100%;
        height: auto;
        left: 0;
        margin-top: 0;

        &:before {
          background-size: px_to_vw(100px) px_to_vw(100px);
        }

        video {
          position: static;
          @include transform(none);
        }
      }
    }
  }

  @include tablet {
    padding: 115px 0;

    &__info, &__screenshots {
      position: static;
      width: 100%;
      height: auto;
    }

    &__info {

      &__item {
        position: relative;
        float: left;
        width: 50%;
        height: 430px;
        padding: 45px 0;
        @include clearfix;

        strong, p {
          max-width: 80%;
        }

        p {
          font-size: 20px;
          line-height: 1.5;
        }

        button {
          float: right;
          width: 220px;
          @include transform(translateX(50%));
        }

        .screenshot {
          position: absolute;
          top: 0;
          right: 0;
          width: 320px;
          height: 420px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          @include box-shadow(0 40px 80px 15px rgba(51, 51, 153, 0.1));
        }

        &[data-item="fae"] {
          //margin-bottom: 120px;

          .screenshot {
            background-image: asset_url('pictures/features/fast_and_easy_mobile.png');
          }
        }

        &[data-item="asm_asn"] {

          .screenshot {
            background-image: asset_url('pictures/features/asm_asn_mobile.png');
          }
        }
      }
    }

    &__screenshots {

      &__item {
        position: relative;
        width: 100%;
        height: auto;
        left: 0;
        margin-top: 0;

        &:before {
          background-size: px_to_vw(80px) px_to_vw(80px);
        }

        video {
          position: static;
          @include transform(none);
        }
      }
    }
  }

  @include medium-width-media {
    &__info, &__screenshots {

      &__item { width: 560px; }
    }

    &__info__item {
      padding: 31.25vh 0 27.1vh;
    }

    &__screenshots__item {
      height: 420px;
      margin-top: -210px;
    }
  }

  @include large-desktops-media {
    &__info, &__screenshots {

      &__item {
        width: 740px;
      }
    }

    &__info__item {
      padding: 33.33vh 0 29.63vh;

      strong {
        font-size: 100px;
        line-height: 0.8;
      }

      p { margin: 40px 0 60px; }

      button {
        width: 220px;
        height: 60px;
      }
    }

    &__screenshots__item {
      height: 555px;
      margin-top: -277.5px;

      &[data-item="fae"] {
        background: asset_url('pictures/features/fast_and_easy@2x.png') no-repeat right top;
        background-size: cover;
      }

      &[data-item="asm_asn"] {
        background: asset_url('pictures/features/asm_asn@2x.png') no-repeat right top;
        background-size: cover;
      }
    }
  }
}
