.features-slide {
  @include linear-gradient($blue-pigment 0%, $blue-pigment 50%, white 50%, white 100%);

  &__info, &__content {

    &__item {
      width: 440px;
      @include absolute(50%, auto, auto, auto);
      @include transform(translateY(-50%));
    }
  }

  &__info {

    &__item {
      left: -2px;

      strong {
        @include vector-title;
        top: 27px;

        svg { @include absolute(0, auto, auto, 2px); }
      }

      p { margin: 100px 0 30px; }

      button { width: 160px; }
    }
  }

  &__content {

    &__item {
      right: 0;
      height: 420px;
      @include border-radius(7px);

      video {
        display: block;
        width: 100%;
        @include absolute(50%, auto, auto, 0);
        @include transform(translateY(-50%));
        @include border-radius(7px);
        z-index: 1;
      }

      &:before {
        content: '';
        display: block;
        @include absolute(0, 0, 0, 0);
        z-index: 2;
        background: asset_url('interface/slides/features/play-button.svg') no-repeat center center;
        background-size: px_to_vw(40) px_to_vw(40);
        @include opacity(100);
        transition: opacity 0.3s ease;
        cursor: pointer;
      }

      &.playing {

        video { z-index: 2; }

        &:before {
          z-index: 1;
          @include opacity(0);
        }
      }
    }
  }

  @include mobile {
    padding: px_to_vh(110, $mobile-height) 0 px_to_vh(30, $mobile-height);

    &__info__item, &__content__item {
      width: 100%;
      height: auto;
      @include transform(none);
    }

    &__info {
      position: static;

      &__item {
        position: static;

        strong {
          font-size: 50px;
          line-height: 0.8;
          padding-top: 0;

          svg {
            top: 0;
            left: 0;
          }
        }

        p {
          margin: px_to_vh(280, $mobile-height) 0 px_to_vh(100, $mobile-height);
          font-size: 20px;
          line-height: 1.5;
        }

        button {
          position: absolute;
          width: 100%;
          bottom: 0;
        }
      }
    }

    &__content {
      position: absolute;
      top: px_to_vh(150, $mobile-height);

      &__item {
        position: relative;
        background-color: #dcdef4;

        &:before { background-size: 13%; }

        video {
          position: static;
          @include transform(none);
        }
      }
    }
  }

  @include tablet {

    & > div { padding-bottom: 95px; }

    &__info, &__content {
      width: 100%;
      padding: 0 !important;
    }

    &__info {
      height: auto;

      &__item {
        position: static;
        width: 100%;
        @include transform(none);

        strong {
          top: 1px;

          svg { @include size(320px 112px); }
        }

        p {
          width: 560px;
          margin: 480px 0 50px;
        }

        button { width: 200px; }
      }
    }

    &__content {
      @include absolute(309px, auto, auto, 0);
      height: 400px;

      &__item {
        @include size(auto);

        &:before { background-size: 10%; }

        video {
          position: static;
          @include transform(none);
        }
      }
    }
  }

  @include medium-width-media {

    &__info, &__content {

      &__item { width: 560px; }
    }

    &__info__item {

      p { width: 450px; }
    }

  }

  @include large-width-media {

    &__info, &__content {

      &__item { width: 740px; }
    }

    &__info__item {

      p { width: 630px; }
    }

  }

  @include large-desktops-media {

    &__info__item {

      strong {
        top: 20px;

        svg { @include size(510px 179px); }
      }

      p {
        margin: 120px 0 40px;
        font-size: 33px;
      }

      button { @include size(220px 60px); }
    }

  }
}
