.features-slide {
  //z-index: 1;

  @include both {
    content: '';
    display: block;
    @include absolute(false, 0, false, 0);
    height: 50%;
    z-index: -1;
  }

  &::before {
    background: $blue-pigment;
    top: 1px;
  }

  &::after {
    background: #fff;
    bottom: -1px;
  }

  &__info {

    @include mobile {
      position: static;
    }

    > strong {
      letter-spacing: 0;
      top: 40px;

      @include mobile {
        top: calc(30vh - 40vw); // calc(37vh - 50vw);
      }
    }

    > p {
      max-width: 450px;
      margin: 100px 0 30px;

      @include mobile_tablet {
        font-size: 20px;
      }

      @include mobile {
        @include absolute(false, false, calc(45vh - 35vw - 60px)); // calc(43vh - 40vw));
        margin: 0;
        line-height: 1.5;
      }

      @include large-desktops-media {
        margin: 120px 0 40px;
        font-size: 33px;
        max-width: 450px;
      }
    }

    > button {
      width: 160px;

      @include mobile {
        width: 100%;
        @include absolute(false, 0, 0, 0);
      }

      @include tablet {
        width: 200px;
      }

      @include large-desktops-media {
        width: 220px;
      }
    }
  }

  &__content {

    @include mobile {
      @include absolute(0, false, 0);
      display: table;
      margin: auto 0;
    }

    &__item {
      padding-bottom: 9 / 16 * 100%;
      @include border-radius(7px);
      background-color: #dadcf6;
      @include box-shadow(0 40px 120px rgba(0, 0, 102, 0.1));
      position: relative;

      > video {
        display: block;
        @include absolute(0, 0, 0, 0);
        @include size(100%);
        background-color: #dadcf6;
        @include border-radius(7px);
      }

      &::after {
        content: '';
        display: block;
        @include absolute(0, 0, 0, 0);
        background: asset_data_uri('interface/slides/features/play-button.svg') no-repeat center center;
        background-size: px_to_vw(40) px_to_vw(40);
        @include opacity(100);
        transition: opacity 0.3s ease;
        cursor: pointer;
        z-index: 1;
        @include transform(translateZ(0));

        @include mobile {
          background-size: 13%;
        }

        @include tablet {
          background-size: 10%;
        }
      }

      &.playing {
        &::after {
          @include opacity(0);
        }
      }

      &.without-play-icon {
        &::after {
          @extend .hidden;
        }
      }
    }
  }
}
