body{
  .fp-viewing-features.animation-down,
  .fp-viewing-unlimited.animation-up {

  }
}

.first-slide {
  color: white;

  &-figure {
    z-index: -1;
    @include absolute(0, 0, 0, 0);
  }

  figure.gif {
  }

  .figure-wrapper {
    width: 50%;

    &.with-transition {
      @include transition(transform $full-page-slide-duration ease);

      &-top {
        @include transform(translate(0, -90vh));
      }
    }

    @include mobile {
      width: px_to_vw(630, $mobile-width);
      right: px_to_vw(-342, $mobile-width);
      bottom: 8vh;
    }
    @include tablet {
      width: 55%;
      right: -40px;
    }
    @include small-width-media {
      width: 55%;
      right: -40px;
    }
    @include medium-width-media {
      width: 55%;
      right: -40px;
    }
    @include large-width-media {
      //width: 598px;
      //right: 90px;
    }
  }

  &__get-started,
  &__more,
  &__page-title {
    position: absolute;
    line-height: 1.0;
  }

  &__get-started,
  &__page-title {
    left: 240px;
  }

  &__get-started,
  &__more {
    bottom: 50px;
  }

  &__title {
    width: 555px;
    height: 350px;
    @include absolute(5vh, false, 0, 0);
    margin: auto 0;

    > h1 {
      margin: 0;
      position: relative;
      z-index: 1;
      font-size: 117px;
      font-weight: 800;
      line-height: 0.7;
      letter-spacing: -2px;
      color: transparent;
    }

    &-shape {
      @include absolute(-9px, none, none, 2px);
      width: 100%;
    }

    .subtitle {
      display: block;
      margin-top: 60px;
      font-size: 36px;
      font-weight: normal;
      line-height: 1.11;
      color: white;
    }

    @include mobile {
      top: 5vh;
      width: px_to_vw(555px * 1.2, $tablet-width);
      height: px_to_vw(350px * 1.2, $tablet-width);

      > h1 {
        font-size: px_to_vw(117px * 1.2, $tablet-width);
      }

      &-shape {
        top: px_to_vw(-9px * 1.2, $tablet-width);
        left: px_to_vw(-2px * 1.2, $tablet-width);
      }

      .subtitle {
        margin-top: px_to_vh(20px, $mobile-height);
        font-size: 24px;
        line-height: 1.67;
      }
    }

    @include tablet {
      &-shape {
        left: 1px;
      }
    }

    @include large-desktops-media {
      width: 740px;
      height: 450px;

      > h1 {
        font-size: 155px;
      }

      &-shape {
        top: -10px;
      }

      .subtitle {
        margin-top: 80px;
        font-size: 48px;
        line-height: 0.83;
        letter-spacing: -1.3px;
      }
    }
  }

  &__get-started {

    &::before {
      content: 'Get started with:';
      display: block;
      position: absolute;
      left: -240px;
    }

    ul {
      @include clearfix;

      li {
        position: relative;
        float: left;
        padding: 0 20px;

        &::after {
          content: "/";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }

        a {
          display: inline-block;
          border-bottom: solid 1.5px rgba(255, 255, 255, 0.4);
        }

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;

          &:after { display: none; }
        }
      }
    }
  }

  &__page-title {
    width: 100px;
    top: 55px;

    @include tablet {
      top: 40px;
    }
  }

  &__more {
    right: 0;

    a {
      display: block;
      position: relative;
      color: white;
      cursor: pointer;

      &::after {
        content: '↓';
        display: block;
        @include absolute(-25px, -25px, auto, auto);
        font: normal 29px $font-family-vexor;
        @include opacity(0);
        @include transition(top 0.2s linear, opacity 0.2s linear);
      }

      &:hover {

        &:after {
          @include opacity(100);
          top: -15px;
        }
      }
    }
  }

  @include mobile {
    &__get-started,
    &__page-title {
      left: 0;
    }

    &__page-title {
      top: 6vh;
      width: 100px;
      font-size: 16px;
      line-height: 1.25;
    }

    &__get-started {
      right: 0;
      bottom: 0;
      font-size: 0;
      color: transparent;

      ul { display: none; }

      .button { width: 100%; }
    }


    &__more {
      display: none;
    }
  }

  @include tablet {
    &__get-started {
    //&__page-title {
      //position: static;
      left: 0;
    }

    &__get-started::before {
      position: static;
      margin-bottom: 20px;
    }

    //&__page-title {
    //  width: 105px;
    //}

    &__more {
      display: none;
    }
  }

  @include medium-width-media {

    &__title,
    &__get-started,
    &__page-title {
      left: 300px;
    }

    &__get-started::before {
      left: -300px;
    }

  }

  @include large-width-media {

    &__title,
    &__get-started,
    &__page-title {
      left: 390px;
    }

    &__get-started::before {
      left: -390px;
    }

  }

  @include large-desktops-media {

    &__get-started,
    &__page-title,
    &__more {
      font-size: 26px;
    }

    &__page-title {
      top: 50px;
    }

    &__more a::after {
      right: -30px;
      font-size: 35px;
    }
  }
}
