.last-slide {
  color: white;
  background-color: $blue-pigment;

  figure.gif { left: 0; }

  &__info {
    @include absolute(50%, 0, auto, auto);
    @include transform(translateY(-50%));

    h2 {
      @include vector-title;
      width: 397px;
      font-size: 80px;
      font-weight: 800;
      line-height: 0.7;
      letter-spacing: -0.9px;

      svg {
        @include absolute(0, auto, auto, 0);
      }

      span {
        display: block;
        margin: 25px 0 30px;
        font-size: 29px;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: -0.8px;
        color: white;
      }
    }

    &__sign-up {
      @include clearfix;

      button {
        float: left;
        width: 120px;
        margin-right: 40px;
        font-size: 19px;

        &:last-of-type { margin-right: 0; }
      }
    }
  }

  @include mobile {
    padding: px_to_vh(110, $mobile-height) 0 px_to_vh(240, $mobile-height);

    &__inner {
      position: static;
      height: auto;
    }

    figure.gif { display: none; }

    &__info {
      position: static;
      @include transform(none);

      h2, &__sign-up {
        position: relative;
      }

      h2 {
        width: 100%;
        margin: 0;
        font-size: 50px;
        line-height: 0.8;
        letter-spacing: -1px;

        span {
          margin: px_to_vh(15, $mobile-height) 0 0;
          font-size: 24px;
          line-height: 1.5;
        }
      }

      &__sign-up {
        margin-top: px_to_vh(20, $mobile-height);

        button {
          width: 100%;
          margin: 0 0 px_to_vh(20, $mobile-height);
        }
      }
    }
  }

  @include tablet {

    &__inner {
      height: calc(100vh - #{$footer-height-tb});
    }

    figure.gif {
      width: 530px;
      height: 660px;
      top: -330px;
      left: 50px;
    }

    h2, &__sign-up {
      left: 0;
    }

    &__sign-up {
      bottom: 150px;

      button {
        width: 200px;
      }
    }
  }

  @include medium-width-media {
    &__info__sign-up {

      button { width: 160px; }
    }
  }

  @include large-width-media {

    &__info {
      right: 180px;

      &__sign-up {

        button { width: 160px; }
      }
    }

  }

  @include large-desktops-media {
    &__content {
      height: calc(100vh - #{$footer-height-lg});
    }

    figure.gif {
      //top: -415px;
      left: 360px;
    }

    h2, &__sign-up {
      left: 390px;
    }

    h2 {
      width: 640px;
      margin-top: -185px;
      font-size: 100px;
      line-height: 0.8;
      letter-spacing: -1.2px;

      span {
        margin-top: 40px;
        font-size: 48px;
        line-height: 0.83;
        letter-spacing: -1.3px;
      }
    }

    &__sign-up {
      bottom: 130px;

      button {
        width: 220px;
        height: 60px;
        font-size: 24px;
      }
    }
  }
}
