.last-slide {
  color: white;
  background-color: $blue-pigment;

  &__inner {
    position: relative;
    height: calc(100vh - #{$footer-height-sm});
  }

  figure.gif {
    left: 230px;
    top: 0; // final position: -266px
    background-size: contain;
    @include transition(top 0.2s linear);

    &--turned {
      @include transform(rotate(90deg));
    }
  }

  h2, &__sign-up {
    position: absolute;
    left: 240px;
  }

  h2 {
    width: 397px;
    top: 50%;
    margin: -180px 0 0;
    font-size: 80px;
    font-weight: 800;
    line-height: 0.75;
    letter-spacing: -0.9px;

    span {
      display: block;
      margin-top: 30px;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: -0.8px;
    }
  }

  &__sign-up {
    bottom: 90px;
    @include clearfix;

    button {
      float: left;
      width: 120px;
      margin-right: 40px;
      font-size: 19px;

      &:last-of-type { margin-right: 0; }
    }
  }

  @include mobile {
    padding: px_to_vh(130, $mobile-height) 0 px_to_vh(240, $mobile-height);

    &__inner {
      position: static;
      height: auto;
    }

    figure.gif {
      width: px_to_vh(300, $mobile-height);
      height: px_to_vw(525, $mobile-width);
      top: px_to_vh(-160, $mobile-height);
      left: px_to_vw(15, $mobile-width);
    }

    h2, &__sign-up {
      position: static;
    }

    h2 {
      width: 100%;
      margin: 0;
      font-size: 50px;
      line-height: 0.8;
      letter-spacing: -1px;

      span {
        font-size: 20px;
        line-height: 1.5;
      }
    }

    &__sign-up {
      margin-bottom: px_to_vh(60, $mobile-height);

      button {
        width: 100%;
        margin-top: px_to_vh(20, $mobile-height);
      }
    }
  }

  @include tablet {

    &__inner {
      height: calc(100vh - #{$footer-height-tb});
    }

    figure.gif {
      width: 530px;
      height: 660px;
      top: -330px;
      left: 50px;
    }

    h2, &__sign-up {
      left: 0;
    }

    &__sign-up {
      bottom: 150px;

      button {
        width: 200px;
      }
    }
  }

  @include medium-width-media {
    &__inner {
      height: calc(100vh - #{$footer-height-md});
    }

    figure.gif {
      //top: -310px;
      left: 280px;
    }

    h2, &__sign-up {
      left: 300px;
    }

    h2 { margin-top: -155px; }

    &__sign-up {
      bottom: 80px;

      button { width: 160px; }
    }
  }

  @include large-desktops-media {
    &__inner {
      height: calc(100vh - #{$footer-height-lg});
    }

    figure.gif {
      //top: -415px;
      left: 360px;
    }

    h2, &__sign-up {
      left: 390px;
    }

    h2 {
      width: 640px;
      margin-top: -185px;
      font-size: 100px;
      line-height: 0.8;
      letter-spacing: -1.2px;

      span {
        margin-top: 40px;
        font-size: 48px;
        line-height: 0.83;
        letter-spacing: -1.3px;
      }
    }

    &__sign-up {
      bottom: 130px;

      button {
        width: 220px;
        height: 60px;
        font-size: 24px;
      }
    }
  }
}
