.configuration-slide {
  background-color: rgba(51, 51, 153, 0.05);

  &__inner {
    position: relative;
    height: 100%;
  }

  &__calculator, &__info {
    @include abs-vert-cent-block(420px);
  }

  &__calculator {
    left: 80px;
    width: 280px;
    padding: 25px 20px;
    background-color: white;
    @include border-radius(5px);
    @include box-shadow(0 20px 60px 0 rgba(51, 51, 153, 0.1), 0 30px 40px 0 rgba(51, 51, 153, 0.1));
    line-height: 1.5;

    strong {
      display: block;
      font-size: 36px;
      font-weight: 800;
      line-height: 0.83;
      color: $blue-pigment;
    }

    &__commits, &__build-duration {
      position: relative;
      margin-bottom: 35px;
      padding: 0 20px 11px 0;
      overflow: hidden;

      strong {
        margin: 15px 0 25px;
      }

      &:after {
        content: '∞';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 20px;
        font-size: 20px;
        line-height: 1.0;
        color: $crayola-blue-bell;
      }
    }

    &__cost-per {
      margin-bottom: 20px;

      span {
        display: inline-block;
        vertical-align: baseline;
        color: $blue-pigment;
        border-bottom: dashed 1px $blue-pigment;
        line-height: 1.0;
        font-weight: 800;
        cursor: pointer;
        @include transition(all 0.3s ease);

        &:hover {
          color: $aquamarine;
          border-bottom-color: rgba(107, 219, 188, 0.4);
        }

        &.active {
          color: $aquamarine;
          border-bottom-color: transparent;
          cursor: default;
        }
      }
    }
  }

  &__info {
    right: 0;
    width: 440px;
    padding-top: 30px;

    & > * { display: block; }

    strong {
      color: $blue-pigment;
      font-size: 80px;
      font-weight: 800;
      line-height: 0.75;
      letter-spacing: -1px;
    }

    p {
      margin: 40px 0;
      font-size: 30px;
      line-height: 1.33;
    }

    button {
      width: 200px;
      @include box-shadow(0 10px 30px 0 rgba(51, 51, 153, 0.15));
    }
  }

  @include mobile {
    padding: px_to_vh(80, $mobile-height) 0;

    &__info {
      position: static;
      height: auto;
      margin: 0;
      padding: 0;

      strong {
        margin-bottom: px_to_vh(20, $mobile-height);
        font-size: 50px;
        letter-spacing: -1px;
      }

      p {
        margin: 0;
        font-size: 20px;
        line-height: 1.5;
      }

      button {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }

    &__calculator {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin: px_to_vh(40, $mobile-height) 0 px_to_vh(110, $mobile-height);
    }
  }

  @include medium-width-media {
    &__calculator, &__info {
      @include abs-vert-cent-block(460px);
    }

    &__calculator {
      left: 100px;
      width: 360px;
      padding: 45px 40px 55px;
    }

    &__info {
      width: 560px;
      padding-top: 50px;

      button { width: 260px; }
    }
  }

  @include large-desktops-media {
    &__calculator, &__info {
      @include abs-vert-cent-block(520px);
    }

    &__calculator {
      left: 150px;
      width: 480px;
      padding: 60px 40px;
    }

    &__info {
      width: 740px;
      padding-top: 50px;

      strong {
        font-size: 100px;
        line-height: 0.8;
      }

      p { margin-bottom: 60px; }

      button { @include size(350px 60px); }
    }
  }
}
