.features-slide {
  height: auto;
  background-color: white;

  &__inner {
    position: relative;
  }

  &__info, &__screenshots {
    position: relative;
    width: 50%;

    &__item {
      width: 440px;
    }
  }

  &__info {
    float: left;

    &__item {
      height: 100vh;
      padding: 30vh 0 28vh;

      strong {
        margin-top: 8px;
        color: $blue-pigment;
        font-size: 80px;
        font-weight: 800;
        line-height: 0.75;
        letter-spacing: -1px;
      }

      p {
        margin: 30px 0 40px;
        font-size: 30px;
        line-height: 1.33;
      }

      button { width: 160px; }
    }
  }

  &__screenshots {
    top: 0;
    float: right;
    height: 100vh;
    @include transition(top 0.15s linear);

    &__item {
      @include abs-vert-cent-block(330px);
      left: 20px;
      width: 440px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      @include box-shadow(0 40px 80px 10px rgba(51, 51, 153, 0.1));

      &[data-item="fae"] {
        background-image: asset_url('pictures/features/fast_and_easy.png');
        z-index: 2;
      }

      &[data-item="asm_asn"] {
        background-image: asset_url('pictures/features/asm_asn.png');
        z-index: 1;
      }
    }

    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
    }

    &.blink {
      @include animation(blink 0.9s ease); // Don't forget synchronize animations' duration in featuresSlideAnimations.js if had changed duration here
    }
  }

  @include mobile {
    padding: 90px 0 80px;

    &__info {
      position: static;
      width: 100%;
      height: auto;
      margin-top: 0;

      strong {
        font-size: 50px;
        line-height: 0.8;
      }

      p {
        margin: 10px 0 20px;
        font-size: 20px;
        line-height: 1.5;
      }

      button {
        position: absolute;
        width: 100%;
        bottom: 0;
      }

      &__item {
        position: static;
        padding-top: 0;

        .screenshot {
          width: 100%;
          height: px_to_vw(367, 320);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          @include box-shadow(0 40px 80px 15px rgba(51, 51, 153, 0.1));
        }

        &[data-item="fae"] {
          margin-bottom: 80px;

          .screenshot {
            background-image: asset_url('pictures/features/fast_and_easy_mobile.png');
          }
        }

        &[data-item="asm_asn"] {
          margin-bottom: 110px;

          .screenshot {
            background-image: asset_url('pictures/features/asm_asn_mobile.png');
          }
        }
      }
    }

    &__screenshots {
      display: none;
    }
  }

  @include medium-width-media {
    &__info, &__screenshots {

      &__item { width: 560px; }
    }

    &__info__item {
      padding: 31.25vh 0 27.1vh;
    }

    &__screenshots__item {
      height: 420px;
      margin-top: -210px;
    }
  }

  @include large-width-media {
    &__info, &__screenshots {

      &__item {
        width: 740px;
      }
    }

    &__info__item {
      padding: 33.33vh 0 29.63vh;

      strong {
        font-size: 100px;
        line-height: 0.8;
      }

      p { margin: 40px 0 60px; }

      button {
        width: 220px;
        height: 60px;
      }
    }

    &__screenshots__item {
      height: 555px;
      margin-top: -277.5px;

      &[data-item="fae"] {
        background: asset_url('pictures/features/fast_and_easy@2x.png') no-repeat right top;
        background-size: cover;
      }

      &[data-item="asm_asn"] {
        background: asset_url('pictures/features/asm_asn@2x.png') no-repeat right top;
        background-size: cover;
      }
    }
  }
}
