.sidebar {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  top: 50px;
  margin: 0;
  padding: 0;
  background: whitesmoke;

  padding: 20px 0;
}

.help-page a.anchor {
  display: block;
  position: relative;
  top: -100px;
}
ul.nav-sidebar li a {
  color: #10a3e7;
  display: block;
}

.help-page h4 {
  padding-top: 20px;
  font-weight: bold;
}

.help-page h4 em {
  font-weight: normal;
}

.sidebar > ul.nav-sidebar > li > a {
  font-weight: bold;
}

ul.nav-sidebar li a:hover,
ul.nav-sidebar li.active a,
ul.nav-sidevar li a:active {
  background-color: #e3e3e3;
}

ul.nav-sidebar ul.nav-sidebar a {
  padding-left: 34px;
}

ul.nav-sidebar ul.nav-sidebar ul.nav-sidebar a {
  padding-left: 54px;
}

.content-block-header {
  background-color: #10a3e7;
}

.content-block-header h1 {
  text-align: center;
  color: white;
  padding-bottom: .4em;
  padding-top: .4em;
}

@media (min-width: 768px) {
  .content-block-header h1 {
    text-align: left;
  }
}

.content-block-body {
  padding: 3em 0 ;
  font-size: 18px;
  font-weight: 300;
}

.logos {
  margin-top: 60px;
  margin-bottom: 40px;
}

.logos img {
  width: 60px;
}

.content-block-footer {
  background-color: #10a3e7;
  padding-top: 26px;
  color: white;
  font-weight: lighter;
}

.content-block-help-topics {
  padding: 1em 0;
  background-color: #f3f6fb;
  font-size: 18px;
}

.content-block-help-topics .help-topic {
  padding: .5em 0;
}

.content-block-help-topics h5 {
  font-size: 18px;
  font-weight: 300;
}

.content-block-help-topics .active a {
  color: #333;
}

.highlight pre {
  color: #D8D4C3;
  background-color: #002b36;
  word-wrap: break-word;
  font-family: Consolas, "Liberation Mono", Menlo, Monaco, monospace !important;
  padding: 1.2em;
  margin-bottom: 2em;
  border: 0;
  border-radius: 0;
}

.post-content {
}

.help-page h2 {
  padding-top: 30px;
}
.help-page {
  box-sizing: border-box;
  padding: 0 60px 0 30px;
}
.help-page p { line-height: 1.6; }

.help-page p img {
  width: 640px;
  display: block;
  padding: 15px 0;
  //margin: 0 auto;
}

@media (max-width: 768px) {
  .sidebar { display: none; }
  .help-page p img {
    width: 100%;
  }
}
