*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  &.unscrollable {
    overflow-y: hidden;
  }
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  color: $dark-blue-gray;
  font: normal normal normal 20px Circe, Sans;
  font-stretch: normal;
  letter-spacing: normal;

  &.alternate {
    padding-bottom: $footer-height-sm;
    font-size: 16px;

    @include tablet {
      padding-bottom: $footer-height-tb;
    }

    @include medium-width-media {
      padding-bottom: $footer-height-md;
    }

    @include large-desktops-media {
      padding-bottom: $footer-height-lg;
      font-size: 20px;
    }
  }

  &.at-desktop {
    min-height: 768px;
    min-width: 900px;

    //@import 'ui/continious-titles';
  }

  &.at-mobile {}
}

a {
  text-decoration: none;
  @include transition(color 0.3s ease, border-bottom-color 0.3s ease);

  &.underlined {
    border-bottom: 1px solid transparent;
  }

  &.blue {
    color: $blue-pigment;
    border-bottom-color: rgba(51, 51, 153, 0.4);
  }

  &.white {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.4);
  }

  &.blue, &.white, &.underlined {

    &:hover {
      color: aquamarine;
      border-bottom-color: rgba(107, 219, 188, 0.4);
    }

    &:active {
      border-bottom-color: transparent;
    }
  }
}

button {
  height: 50px;
  background-color: $aquamarine;
  color: $blue-pigment;
  border: 0;
  @include border-radius(100px);
  @include box-shadow(0 10px 30px 0 rgba(51, 51, 153, 0.15));
  @include appearance(none);
  line-height: 1.0;
  font: 800 20px Circe, SansSerif;
  cursor: pointer;
  @include appearance(none);
  @include transition(color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease);

  &:hover {
    background: $blue-pigment;
    color: $aquamarine;
  }

  &.bordered {
    border: 2px solid $aquamarine;
  }
}

ul {
  list-style: none;
}

@include mobile {
  button {
    height: px_to_vh(50, $mobile-height);
  }
}
