.base {
  width: 920px;
  margin: 0 auto;
  @include clearfix;

  @include mobile {
    width: px_to_vw($mobile-width-grid, $mobile-width);
  }

  @include tablet {
    width: px_to_vw($tablet-width-grid, $tablet-width);
  }

  @include medium-width-media {
    width: 1160px;
  }

  @include large-width-media {
    width: 1520px;
  }
}

.desktop {

  @include desktop {
    display: block !important;

    &-down {
      display: none !important;
    }
  }
}

.mobile-tablet {

  @include mobile_tablet {
    display: block !important;

    &-down {
      display: none !important;
    }
  }
}

.tablet {

  @include tablet {
    display: block !important;

    &-down {
      display: none !important;
    }
  }
}

.mobile {

  @include mobile {
    display: block !important;

    &-down {
      display: none !important;
    }
  }
}

.figure-wrapper {
  @include absolute(0, 0, 0);

  &.mazed {
    right: auto;
    left: 0;
  }
}

figure.gif {
  @include absolute(0, 0, 0);
  display: block;
  @include size(100% 0);
  padding-bottom: (525px / 520px) * 100%;
  margin: auto;

  background: no-repeat asset_url('interface/slides/first/figure-holder.png') center center / cover;

  &.gl-render {
    background-image: none;
  }
}

@import "blocks/header";
@import "blocks/footer";
@import "blocks/mobile-menu";
@import "blocks/sidebar";
@import "blocks/styled-content";
