.base {
  width: 920px;
  margin: 0 auto;
  @include clearfix;

  @include mobile {
    width: px_to_vw($mobile-width-grid, $mobile-width);
  }

  @include tablet {
    width: px_to_vw($tablet-width-grid, $tablet-width);
  }

  @include medium-width-media {
    width: 1160px;
  }

  @include large-width-media {
    width: 1520px;
  }
}

.desktop {

  @include desktop {
    display: block;

    &-down {
      display: none;
    }
  }
}

.mobile-tablet {

  @include mobile_tablet {
    display: block;

    &-down {
      display: none;
    }
  }
}

.tablet {

  @include tablet {
    display: block;

    &-down {
      display: none;
    }
  }
}

.mobile {

  @include mobile {
    display: block;

    &-down {
      display: none;
    }
  }
}

figure.gif {
  display: block;
  position: absolute;
  top: 140px;
  right: 0;
  width: 440px;
  height: 528px;
  margin: 0;
  z-index: -1;
  background-image: asset_url('interface/slides/3-d.gif');
  background-repeat: no-repeat;
  background-position: left top;

  @include medium-width-media {
    width: 564px;
    height: 677px;
  }

  @include large-desktops-media {
    width: 740px;
    height: 888px;
  }
}

@import "blocks/header";
@import "blocks/footer";
@import "blocks/mobile-menu";
@import "blocks/sidebar";
@import "blocks/styled-content";
