@function is-set($v) {
  @return $v != none and $v != false
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

$font-size-px-default: 20; // Default relation: 1em = 20px
@function px_to_em($pixels, $context: $font-size-px-default) {
  @return #{strip-unit($pixels)/$context}em;
}

@function px_to_rem($pixels, $context: $font-size-px-default) {
  @return #{strip-unit($pixels)/$context}rem;
}

$va-px-default: 1000;
@function va_to_em($va, $context: $va-px-default) {
  @return #{$va/$context}em;
}

$width-default: $small-desktop-width;
@function px_to_vw($pixels, $context: $width-default) {
  @return #{strip-unit($pixels)/strip-unit($context)*100}vw;
}

$height-default: $small-desktop-height;
@function px_to_vh($pixels, $context: $height-default) {
  @return #{strip-unit($pixels)/strip-unit($context)*100}vh;
}
