@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin clearTransform3d {
  @include transform(translate3d(0px, 0px, 0px));
  @include transform-style(flat);
}

@mixin abs-vert-cent-block($height) {
  position: absolute;
  top: 50%;
  height: $height;
  margin-top: -#{$height/2};
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1}) {
    @content;
  }
}

@mixin mobile_tablet {
  @media (max-width: #{$small-desktop-width - 1}) {
    @content;
  }
}


@mixin small-width-media {
  @media (min-width: $small-desktop-width) and (max-width: #{$medium-desktop-width - 1}) {
    @content;
  }
}

@mixin medium-width-media {
  @media (min-width: $medium-desktop-width) and (max-width: #{$large-desktop-width - 1}) {
    @content;
  }
}

@mixin large-width-media {
  @media (min-width: $large-desktop-width) {
    @content;
  }
}

@mixin large-height-media {
  @media (min-height: $large-desktop-height) {
    @content;
  }
}

@mixin large-desktops-media {
  @media (min-width: $large-desktop-width) and (min-height: $large-desktop-height) {
    @content;
  }
}
