@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin filter($function: none) {
  @include prefixer(filter, $function, webkit spec);
}

@mixin clearTransform3d {
  @include transform(translate3d(0px, 0px, 0px));
  @include transform-style(flat);
}

@mixin abs-vert-cent-block($height) {
  position: absolute;
  top: 50%;
  height: $height;
  margin-top: -#{$height/2};
}

@mixin absolute($top: false, $right: false, $bottom: false, $left: false) {
  @if length($top) == 4 {
    $left: nth($top, 4);
    $bottom: nth($top, 3);
    $right: nth($top, 2);
    $top: nth($top, 1);
  }

  position: absolute;
  @if is-set($top) { top: $top; }
  @if is-set($right) { right: $right; }
  @if is-set($bottom) { bottom: $bottom; }
  @if is-set($left) { left: $left; }
}

@mixin vector-title {
  display: block;
  position: relative;
  color: transparent;

  & > svg {
    z-index: -1;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  ::scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  .ik_select_list_inner {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1}) {
    @content;
  }
}

@mixin mobile_tablet {
  @media (max-width: #{$small-desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $small-desktop-width) {
    @content;
  }
}

@mixin small-width-media {
  @media (min-width: $small-desktop-width) and (max-width: #{$medium-desktop-width - 1}) {
    @content;
  }
}

@mixin medium-width-media {
  @media (min-width: $medium-desktop-width) and (max-width: #{$large-desktop-width - 1}) {
    @content;
  }
}

@mixin large-width-media {
  @media (min-width: $large-desktop-width) {
    @content;
  }
}

@mixin large-height-media {
  @media (min-height: $large-desktop-height) {
    @content;
  }
}

@mixin large-desktops-media {
  @media (min-width: $large-desktop-width) and (min-height: $large-desktop-height) {
    @content;
  }
}
