.page {
  position: relative;
  top: 100px;

  &__content {
    padding-top: px_to_vh(80, $large-desktop-height);
  }

  &.inner-page {

    .last-slide {
      top: px_to_vh(-100);
      height: auto;
      background-color: transparent;

      figure.gif { @extend .hidden; }

      h2 {
        width: auto;
        left: 0;
        @include transform(translateY(-50%));
        margin: 0 auto;
        text-align: center;
        color: black;

        span { color: $ford-gunpowder-gray; }
      }

      &__sign-up {
        bottom: 100px;

        button {
          background: transparent;
          color: $blue-pigment;
          border-color: $blue-pigment;

          &:hover {
            color: white;
            background-color: $blue-pigment;
            border-color: $blue-pigment;

            a { color: white; }
          }
        }
      }

      @include mobile {
        padding: px_to_vh(130, $mobile-height) 0 0;

        &__inner {

          h2 {
            @include transform(none);
          }
        }
      }

      @include tablet {
        top: px_to_vh(-150, $tablet-height);
      }
    }
  }

  &.documentation {
    padding-top: px_to_vh(80, $large-desktop-height);
    padding-bottom: calc(#{px_to_vh(120, $large-desktop-height)} + 100px);
    @include scrollbars(5px, $blue-pigment, white);

    .documentation__nav {
      position: fixed;
      top: 100px;
      width: 20%;
      height: calc(100vh - 100px - #{px_to_vh(80, $large-desktop-height)} - #{$footer-height-sm});
      margin-top: px_to_vh(80, $large-desktop-height);
      overflow-x: scroll;

      @include mobile {
        top: px_to_vh(58, $mobile-height);
        left: -100%;
        width: 100%;
        height: calc(100vh - #{px_to_vh(58, $mobile-height)});
        margin: 0;
        padding: 1vh calc((100vw - #{px_to_vw($mobile-width-grid, $mobile-width)})/2);
        z-index: 1;
        background-color: rgba(white, 0.9);
        @include transition(left 0.5s ease);

        &.opened { left: 0; }
      }

      @include tablet {
        height: calc(100vh - 100px - #{px_to_vh(80, $large-desktop-height)} - #{$footer-height-tb});
      }

      @include medium-width-media {
        height: calc(100vh - 100px - #{px_to_vh(80, $large-desktop-height)} - #{$footer-height-md});
      }

      @include large-desktops-media {
        height: calc(100vh - 100px - #{px_to_vh(80, $large-desktop-height)} - #{$footer-height-lg});
      }
    }

    .documentation__content {
      position: relative;
      left: 28%;
      width: 82%;
      padding-right: 10%;

      @include mobile {
        left: 0;
        width: 100%;
        padding-right: 0;
      }

      @include large-desktops-media {
        left: 31%;
        width: 72%;
        padding-right: 3%;
      }
    }

    @include mobile {
      padding-top: 0;
    }
  }

  &.blog {
    min-height: calc(100vh - #{px_to_vh($footer-height-sm)});
    padding-top: 0;
    padding-bottom: px_to_vh(100, $large-desktop-height);

    .blog__posts { }

    .post {
      margin-top: 30px;

      h3 { margin-top: 0; }

      &:first-of-type { margin-top: 0; }
    }

    .comments {
      margin-bottom: 80px;
    }

    @include mobile {
      padding-bottom: px_to_vh(100, $mobile-height);

      .comments { margin-bottom: 2px; }
    }

    @include tablet {
      min-height: calc(100vh - #{px_to_vh($footer-height-tb, $tablet-height)});
    }

    @include medium-width-media {
      min-height: calc(100vh - #{px_to_vh($footer-height-md)});
    }

    @include large-desktops-media {
      min-height: calc(100vh - #{px_to_vh($footer-height-lg, $large-desktop-height)});
    }
  }

  @include mobile {
    top: px_to_vh(60, $mobile-height);

    &__content {
      padding-top: px_to_vh(40, $mobile-height);
    }
  }
}
