.slides {
  position: relative;
}

.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 1;

  border: 1px solid black; // TODO: remove

  &__inner {
    position: relative;
    @extend .base;

    &__half {
      width: 50%;
      height: 100vh;
      float: left;

      &[data-position="left"] {
        padding-right: 20px;
      }

      &[data-position="right"] {
        padding-left: 20px;
      }
    }
  }

  @include mobile {
    height: auto;
    min-height: 100vh;
    padding-top: px_to_vh(60, $mobile-height);
  }
}

@import "slides/first";
@import "slides/features";
@import "slides/configuration";
@import "slides/customers";
@import "slides/last";

