.slides {
  position: relative;
  left: 0;
  @include transition(left 0.5s ease);

  &.translated {
    left: -100%;
  }
}

.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 1;

  @include mobile {
    height: auto;
    padding-top: px_to_vh(60, $mobile-height);
  }
}

@import "slides/first";
@import "slides/features";
@import "slides/configuration";
@import "slides/customers";
@import "slides/last";

