.slides {
  position: relative;
}

.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: 1;
  
  &__inner {
    position: relative;
    height: 100vh;
    @extend .base;

    &__half {
      position: relative;
      width: 50%;
      height: 100%;
      float: left;

      &[data-position="left"] {
        padding-right: 20px;
      }

      &[data-position="right"] {
        padding-left: 20px;
      }
    }
  }

  &__title {
    font-size: 80px;
    font-weight: 800;
    line-height: 0.75;
    letter-spacing: -1px;
  }

  &__caption {
    font-size: 29px;
    line-height: 1.38;
    color: $blue-pigment;
  }

  &.short {
    height: 70vh;

    .slide__inner { height: 70vh; }
  }

  @include mobile {
    height: auto;
    padding-top: px_to_vh(60, $mobile-height);

    &__inner {
      height: auto;

      &__half {
        float: none;
        width: auto;
        height: auto;

        &[data-position="left"], &[data-position="right"] {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &.short {
      height: auto;

      .slide__inner { height: auto; }
    }
  }

  @include tablet {
    height: auto !important;

    &__inner {
      height: auto !important;
      padding-top: 140px;

      &__half { height: auto; }
    }
  }

  @include large-desktops-media {

    &__title {
      font-size: 100px;
      line-height: 0.8;
    }

  }
}

@import "slides/first";
@import "slides/features";
@import "slides/configuration";
@import "slides/customers";
@import "slides/last";

