// colors
$navy: #000461;
$blue-pigment: #333399;
$ford-gunpowder-gray: #4a4a4a;
$aquamarine: #6bdbbc;
$dark-blue-gray: #666699;
$crayola-blue-bell: #9999cc;


// breakpoints
$mobile-width: 480px;
$tablet-width: 768px;
$small-desktop-width: 1024px;
$medium-desktop-width: 1366px;
$large-desktop-width: 1600px;

$mobile-height: 568px;
$tablet-height: 1024px;
$small-desktop-height: 768px;
$large-desktop-height: 1080px;

$mobile-width-grid: 420px;
$tablet-width-grid: 680px;


// customers
$customers-height-sm-md: 40px;
$customers-height-tb-lg: 60px;

// footer
$footer-height-mb: 240px;
$footer-height-tb: 163px;
$footer-height-sm: 147px;
$footer-height-md: 116px;
$footer-height-lg: 138px;
