<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

    </head>
    <body>

        <div class="site">

          <div class="sidebar">
            <ul>
              <li><a href="/">About</a></li>
              <li><a href="/screenshots.html">Screenshots</a></li>
              <li><a href="/install.html">Install</a></li>
              <li><a href="/build_configuration.html">Build Configuration</a></li>
              <li><a href="/deploy.html">Deploy</a></li>
            </ul>
          </div>

          <div class="content">
            {{ content }}
          </div>

          <div class="footer">
            <div class="contact">
              <a href="https://github.com/vexor">https://github.com/vexor</a>
            </div>
            <div class="contact">
            </div>
          </div>
        </div>

    </body>
</html>
