<!DOCTYPE html>
<html lang="{{'' | current_language}}">

  <head>
    {% assign page_description = 'description.pages.' | append: page.description_key %}
    <title>Vexor: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="google-site-verification" content="QN2ZV4jh2PVBk7XxTqTlc4OBVZgsB3VN4TDVLV2YysY" />
    <meta name="yandex-verification" content="c860b1651a6c8ff7" />
    <meta name="description" content="{{ page_description | t }}" />
    <meta name="theme-color" content="{% if page.description_key == 'index' %}#333399{% else %}#FFFFFF{% endif %}" />
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feed.xml"> -->
    {% stylesheet landing %}
  </head>

  <body class="landing{% if page.description_key != 'index' %} alternate{% endif %}">
    {% include header.html %}

    {% include mobile-menu.html %}

    {{ content }}

    <div data-gl-assets="{% asset_path gl %}" data-page-key="{{ page.description_key }}"></div>

    {% if page.description_key != 'index' %}
    {% include footer.html %}
    {% endif %}

    {% javascript landing %}

    <!-- Adobe TypeKit -->
    <script>!function(e){var t,a={kitId:"djq1soi",scriptTimeout:3e3,async:!0},c=e.documentElement,i=setTimeout(function(){c.className=c.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},a.scriptTimeout),n=e.createElement("script"),s=!1,o=e.getElementsByTagName("script")[0];c.className+=" wf-loading",n.src="https://use.typekit.net/"+a.kitId+".js",n.async=!0,n.onload=n.onreadystatechange=function(){if(!(t=this.readyState)||"complete"==t||"loaded"==t){s=!0,clearTimeout(i);try{Typekit.load(a)}catch(e){}}},o.parentNode.insertBefore(n,o)}(document);</script>

    {% include counters.html %}
  </body>

</html>
