<!DOCTYPE html>
<html lang="{{'' | current_language}}">

  <head>
    <title>Vexor: {{ page.title }} </title>
    {%if page.description_key %}{% assign page_description = 'description.pages.' | append: page.description_key%}{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="google-site-verification" content="QN2ZV4jh2PVBk7XxTqTlc4OBVZgsB3VN4TDVLV2YysY" />
    <meta name="yandex-verification" content="c860b1651a6c8ff7" />
    <meta name="description" content="{{ page_description | t }}">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feed.xml">
    {% stylesheet landing %}
  </head>

  <body class="landing">
    {% include header.html %}

    {% include mobile-menu.html %}

    {{ content }}

    {% include footer.html %}

    {% javascript landing %}

    <!-- Adobe TypeKit -->
    <script>!function(e){var t,a={kitId:"djq1soi",scriptTimeout:3e3,async:!0},c=e.documentElement,i=setTimeout(function(){c.className=c.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},a.scriptTimeout),n=e.createElement("script"),s=!1,o=e.getElementsByTagName("script")[0];c.className+=" wf-loading",n.src="https://use.typekit.net/"+a.kitId+".js",n.async=!0,n.onload=n.onreadystatechange=function(){if(!(t=this.readyState)||"complete"==t||"loaded"==t){s=!0,clearTimeout(i);try{Typekit.load(a)}catch(e){}}},o.parentNode.insertBefore(n,o)}(document);</script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23972557 = new Ya.Metrika({id:23972557, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/23972557" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

    <!-- Google Analytics -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-93363516-1', 'auto'); ga('send', 'pageview');</script>
  </body>

</html>
