---
layout: landing
---

{{ content }}

<div class='block-footer landing-block-footer text-center'>
  <div class='container'>
    <div class='row fast-setup'>
      <div class='col-sm-12'>
        Set up your continuous integration<br>in 18 seconds.
      </div>
    </div>
    <div class='row sign-up-description'>
      <div class='col-sm-12'>
        Sign up for VEXOR today.
      </div>
    </div>
    <div class='row sign-up'>
      <div class='col-sm-12'>
        <a class="btn btn-primary" data-signup=true href="https://ci.vexor.io/users/github?do=sign_up">Try now!</a>
      </div>
    </div>
    <div class='row logo'>
      <div class='col-sm-12'>
        <a href="https://vexor.io/">
          <img alt="Footer logo" src="/images/landing/footer-logo.png" />
        </a>
      </div>
    </div>
    <div class='row copyright'>
      <div class='col-sm-12'>
        © 2014, VEXOR. All rights reserved. Powered by <a href='http://evrone.com/'>Evrone</a>.
      </div>
    </div>
    <div class='row items'>
      <div class='col-sm-12'>
        <a href="/p/terms.html">Terms</a>
        <a href="/p/security.html">Security</a>
        <a href="/p/privacy.html">Privacy</a>
        <a href="mailto:support@vexor.io">Contact</a>
      </div>
    </div>
    <div class='row logos'>
      <div class='col-sm-12'>
        <img src="/images/footer/visa.jpg">
        <img src="/images/footer/visa_verified.gif">
        <img src="/images/footer/mc.jpg">
        <img src="/images/footer/mc-secure.gif">
        <img src="/images/footer/cp.png">
      </div>
    </div>
  </div>
</div>
